.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons_container {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
}

.button {
  min-width: 98px;
  height: 31px;
  padding: 3px 16px;
  border-radius: 2px;
  border: solid 1px #d6d6d6;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #606060;
}
.active {
  border-color: #1797ff;
  color: #1797ff;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
